<h1>Locations</h1>
<p><%= link_to "Add a new location", new_location_path%></p>

<div class="locations">
  <% @locations.each do |location| %>
  <div class="location">
    <h2> City: <%= link_to location.title, location_path(location.id)%></h2>
    <p> Subtitle: <%=location.subtitle%></p>
    <p> Description:</p>
    <p>Picture: <%= image_tag(location.image_header, width:80) %>  </p>
  </div>
  <hr/>
  <% end %>
</div>
