<div class="heading">
  <h1>Morioka</h1>
  <h2>The quiet city by the mountain</h2>
</div>

<div class="poster">
  <%= image_tag 'header', class: "poster" %>
</div>

<div class="container">
  <p>
    Morioka (盛岡) is the capital city of <a href="#">Iwate Prefecture</a>, 2.5 hours by
    shinkansen north of <a href="#">Tokyo</a>. Surrounded by mountains on three sides and
    blessed with multiple rivers, Morioka is an attractive city and a
    convenient transportation hub, but lacks a major sightseeing spot.
    The city is well known for its various styles of noodles, though,
    and does offer a handful of minor sites of interest.
  </p>

  <hr>

  <div class="article image-left">
    <%= image_tag 'image-1', class: "article image-left" %>
    <h3>Sansa Odori Festival</h3>
    <p>
      Morioka Sansa Odori Festival, held from August 1 through 4, is one of
      the Five Great Festivals of Tohoku. Over 10,000 taiko drummers and
      dancers parade through the city; Sansa is listed in the Guinness Book
      of Records as the largest taiko drum festival in the world.
    </p>
  </div>

  <div class="article image-right">
    <%= image_tag 'image-2', class: "article image-right" %>
    <h3>Wanko Soba</h3>
    <p>
      Eating Wanko Soba is an experience in itself. Each serving contains
      roughly a mouthful of soba noodles, and the server will constantly keep
      topping up your empty bowl with more noodles until you indicate that you
      have had enough.
    </p>
  </div>

  <hr>

  <div class="actions">
    <a href="#" class="button button-red">Take me there!</a>
  </div>
</div>
